---
// Components
import Arrow from "@components/Arrow.astro";

// Types
export interface Props {
	title: string;
	url: string;
	isBlack: boolean;
}

// Props
const { title, isBlack, url } = Astro.props;

// CSS dynamic Variables
const textColor = isBlack ? "black" : "white";
---

<a href={`${url}`} class="goto-link">
	<p>{title}</p>
	<Arrow isBlack={isBlack} />
</a>

<style define:vars={{ textColor }}>
	a {
		color: var(--textColor);
		display: flex;
		text-transform: uppercase;
		gap: 15px;
		align-items: center;
	}
</style>
